.home {
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: visible;
    padding: 25px;
    box-sizing: border-box;
}

/* ****************************banner**************************** */

.home-banner {
    width: 100%;
    height: 36vw;
    margin-bottom: 40px;
}

/* @media */

/* 使用在屏幕小于 1200 像素时, 所有的的设备中(计算机、平板、智能手机) */
// @media screen and (max-width: 1200px) {
//     .home-banner {
//         display: none;
//     }
// }

.home-banner_banner {
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 0 1px 3px rgb(26 26 26 / 10%);
}

/* aside img */
.home-banner .home-banner-aside {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* 网格布局 */
    display: grid;
    /* 定行大小（高度） detail： https://www.ruanyifeng.com/blog/2019/03/grid-layout-tutorial.html */
    /* .home-banner-aside 高度：653px;  .home-banner-aside_bottom等于 653 - 162 = 491 ====> .home-banner-aside_top高度 */
    grid-template-rows: 1fr 162px;
    grid-gap: 15px 0;
}

.home-banner-aside_top,
.home-banner-aside_bottom {
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(26 26 26 / 10%);
    overflow: hidden;
    cursor: default;
}

.home-banner-aside_top_bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: bgmove 15s linear infinite alternate;
}

/* 暂停动画 */
/* .home-banner-aside_top_bg:hover, */
.animation_paused {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

/* 自定义 carousel 过度动画 */
.carousel-leave {
    /* ease-in: 开始的时候慢，之后快 */
    animation: carousel-out 0.5s ease-in;
}
.carousel-active {
    /* ease-out: 开始时快，结束时候间慢 */
    animation: carousel-in 0.5s ease-out;
}

/* ****************************************** */

/* carousel */
.el-carousel__container .home-carousel-nav {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    cursor: default;
}

.el-carousel__container .home-carousel-nav > div {
    float: left;
    margin: 0 8px;
    width: 128px;
    height: 68px;
    border-radius: 5px;
    overflow: hidden;
}

.el-carousel__container .home-carousel-nav > div img {
    width: 100%;
    height: 100%;
}

.el-carousel__container .home-carousel-nav .carousel_active {
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

/* ****************************content**************************** */
@import '~@/style/mixin.scss';

.home .home-content {
    // 左右主体内容并集部分
    .home-content__left,
    .home-content__right {
        // width: 100%;
        height: fit-content;
        position: sticky;

        .aside-title-box {
            @include aside-title-box;

            .sidetips {
                @include aside-title-box-sidetips;
            }
        }
    }

    // blog 主体内容左侧
    .home-content__left {
        top: 10px;
        .home-aside-left {
            width: 100%;
            .home-aside-about {
                width: 100%;
                @include aside-base-bg;

                .clock {
                    user-select: none;
                    box-sizing: border-box;
                    overflow: hidden;
                    height: 130px;

                    .clock-cover {
                        width: 100%;
                        height: 100%;

                        img {
                            @include base-img;
                            transition: all 0.5s ease;
                        }

                        &:hover{
                            img{
                                object-position: right bottom;
                            }
                        }

                    }
                }
                .home-aside-about__blogger {
                    color: var(--blue-color);
                    padding: 8px 16px;
                    margin-top: 4px;
                    font-weight: 600;
                }
                .home-aside-about__bloggerinfo {
                    font-size: 12px;
                    padding: 0 16px 10px;
                    line-height: 18px;
                }
                .home-aside-about__bloginfo {
                    width: 100%;
                    display: flex;
                    & > div {
                        position: relative;
                        font-size: 12px;
                        flex: 1;
                        border-top: 1px solid #eee;
                        height: 56px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        transition: all 0.4s ease;

                        &:nth-child(1):before,
                        &:nth-child(2):before,
                        &:nth-child(3):before {
                            content: '';
                            position: absolute;
                            right: 0;
                            display: block;
                            width: 1px;
                            height: 70%;
                            background: #eee;
                        }
                    }
                }
            }

            ul {
                li {
                    cursor: pointer;
                    margin-bottom: 12px;
                    p {
                        font-size: 15px;
                        color: #333;
                    }
                    span {
                        font-size: 12px;
                    }
                    .paragraph-truncate {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                }
            }
            .recentnews {
                li {
                    padding: 3px 24px;
                    p {
                        width: 100%;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        -moz-box-orient: vertical;
                        -moz-line-clamp: 1;
                        overflow: hidden;
                    }
                    &:hover {
                        background: #eee;
                    }
                }
            }
            .greetessay {
                ul {
                    padding: 0 24px;
                    li {
                        display: flex;
                        img {
                            display: inline-block;
                            margin-right: 10px;
                            width: 50px;
                            height: 50px;
                            border-radius: 6px;
                            transition: all 0.25s ease-in-out;
                        }
                        .aside-dfcard-info {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            p {
                                box-sizing: border-box;
                                width: 100%;
                                padding-right: 20px;
                                margin-bottom: 6px;
                                color: #768791;
                                font-size: 13px;
                            }

                            span {
                                width: 100%;
                                overflow: hidden;
                                color: #c3ccd3;
                            }
                        }

                        &:hover {
                            img {
                                // -webkit-transform: translateX(-10px);
                                // transform: translateX(-10px);
                                -webkit-transform: translate(-4px, -12px) scale(1.1);
                                transform: translate(-4px, -12px) scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
    // blog 主体内容右侧
    .home-content__right {
        top: -50px;
        .home-aside-right {
            width: 100%;
            .home-aside-up {
                position: relative;
                width: 100%;
                height: 200px;
                @include aside-base-bg;

                .home-aside-up_cover {
                    width: 100%;
                    height: 120px;

                    img {
                        @include base-img;
                        transition: 1s;

                        &:hover{
                            object-position: right bottom;
                        }
                    }
                }
                .home-aside-up_avatar {
                    position: absolute;
                    top: 86px;
                    left: 0;
                    right: 0;
                    border-radius: 50%;
                    overflow: hidden;
                    width: 70px;
                    height: 70px;
                    border: 3px solid rgba(255, 255, 255, 0.8);
                    margin: 0 auto;
                    img {
                        @include base-img;
                    }

                    &:hover {
                        cursor: pointer;
                        -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
                            both;
                        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                    }
                }
            }
            .home-aside-skill {
                ul {
                    padding: 0 16px;
                    li {
                        display: inline-flex;
                        align-items: center;
                        border-radius: 4px;
                        border: 1px solid #eee;
                        padding: 6px 8px;
                        font-size: 14px;
                        margin-right: 6px;
                        margin-bottom: 8px;
                        transition: 0.3s;
                        cursor: pointer;
                        i {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: pink;
                        }

                        span {
                            margin-left: 8px;
                            color: #717171;
                        }
                        &:hover {
                            box-shadow: 0 3px 8px 0 rgb(7 17 27 / 9%);
                        }
                    }
                }
            }
            .home-aside-about,
            .home-aside-friends {
                ul {
                    width: 75%;
                    margin-left: 16px;
                    li {
                        font-size: 14px;
                        cursor: pointer;
                        padding: 10px 12px;
                        display: block;
                        background: #eeeeee70;
                        margin-bottom: 10px;
                        border-radius: 6px;
                        transition: all 0.4s ease;
                        box-sizing: border-box;

                        &:hover {
                            // box-shadow: 3px 3px 10px #0000004d;
                            box-shadow: 1px 0 8px #0000004d;
                        }

                        &:before {
                            display: inline-flex;
                            justify-content: center;
                            width: 12px;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }

    // blog 主体内容中间
    .home-content__center {
        width: 100%;
        height: 100%;
        min-width: 62.5%;
        height: 100%;
        /* background-color: cyan; */

        .request-list__content {
            width: 100%;
            height: 100%;
            overflow: hidden;

            & > p {
                text-align: center;
                color: #717171;
            }

            // 文章卡片
            .study-lg-card {
                width: 100%;
                height: 100%;
                // min-width: 1032px;
                // min-height: 444px;
                background-color: #fff;
                overflow: hidden;
                border-radius: 16px;
                margin-bottom: 30px;
                cursor: default;
                // cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/ayuda.cur),auto;

                .study-lg-card_cover {
                    position: relative;
                    width: 100%;
                    padding: 16% 0;

                    div {
                        position: absolute;
                        top: 0;
                        z-index: 3;
                        width: 100%;
                        height: 100%;

                        p {
                            width: 100%;
                            height: 100%;
                            font-size: 18px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform: translateY(-20px);
                            opacity: 0;
                        }
                    }

                    p {
                        position: relative;
                        z-index: 2;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: white;

                        a {
                            text-shadow: 3px 3px 3px rgb(0 0 0 / 60%);
                            font-size: 30px;
                            margin: 10px 180px 0;
                            text-align: center;
                        }

                        span {
                            font-size: 18px;
                            line-height: 24px;
                            background-color: var(--marked-color);
                            padding: 2px 12px;
                            border-radius: 6px;
                        }
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: 1s;
                        z-index: 1;
                        // object-fit: none;
                    }
                }

                // footer
                .study-lg-card_footer {
                    padding: 10px 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    ._read {
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid white;
                        cursor: pointer;

                        i {
                            margin-left: 5px;
                            font-size: 20px;
                        }

                        &:hover {
                            border-color: #3e3e3e;
                        }
                    }
                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            /* float: left; */
                            margin-right: 15px;

                            span {
                                color: #717171;
                            }

                            i {
                                margin-right: 5px;
                                color: #3e3e3e;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* hover 动画;过度 */
.study-lg-card,
.study-lg-card .study-lg-card_cover img,
.study-lg-card .study-lg-card_cover > p span,
.study-lg-card .study-lg-card_cover > p a,
.study-lg-card .study-lg-card_cover > div p {
    transition: all 0.3s;
}
.study-lg-card:hover {
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
}
.study-lg-card .study-lg-card_cover:hover img {
    filter: blur(3px);
    object-position: right bottom;
}
.study-lg-card .study-lg-card_cover:hover > p span {
    transform: translateY(-40px);
    opacity: 0;
}
.study-lg-card .study-lg-card_cover:hover > p a {
    transform: translateY(40px);
    opacity: 0;
}
.study-lg-card .study-lg-card_cover:hover > div p {
    transform: translateY(0);
    opacity: 1;
}
